@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.au-founder-div {
    position: relative;
    > div {
        gap: 2rem;
        align-items: center;
        flex-direction: column;
        @include breakpoint(small) {
            flex-direction: row;
        }
    }
    img {
        height: 400px;
        @include breakpoint(small) {
            height: 650px;
        }
    }
    .text-div {
        position: relative;
        z-index: 1;
        h1 {
            position: absolute;
            top: -2rem;
            left: -1rem;
            color: $text-shadow-3;
            font-size: 2.6rem !important;
            @include breakpoint(small) {
                font-size: 5rem !important;
                top: -5rem;
                left: -2rem;
            }
        }
        h2 {
            font-family: '$font-bold';
            color: $bg-color;
            margin-bottom: 1rem;
            @include breakpoint(small) {
                margin-bottom: 1.5rem;
            }
        }
        p {
            font-family: '$font-museo-regular';
            color: $bg-color;
            &.first-line {
                margin-bottom: 2rem;
            }
        }
    }
    .vl {
        border-left: 1px solid $primary-color;
        min-height: 100%;
        position: absolute;
        top: 0;
        display: none;
        opacity: 0.18;
        @include breakpoint(small) {
            display: block;
        }
    }
    .vl:first-child {
        left: 55%;
    }
    .vl:nth-child(2) {
        left: 60%;
    }
    .vl:nth-child(3) {
        left: 65%;
    }
    .vl:nth-child(4) {
        left: 70%;
    }
    .vl:nth-child(5) {
        left: 75%;
    }
    .vl:nth-child(6) {
        left: 80%;
    }
}