@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.testimonials-div {
    background-image: url("../../../../assets/images/homeTestimonialsBG.png");
    background-position: center;
    background-size: cover;
    h2 {
        color: $white;
        font-family: "$font-bold";
        font-size: 1.5rem;
        @include breakpoint(x-small) {
            font-size: 2rem;
        }
    }
    p.text {
        color: $white;
        font-family: "$font-museo-700";
        font-size: 1rem;
        @include breakpoint(x-small) {
            font-size: 1.25rem;
        }
    }
    .testimonial-wrapper {
        padding: 0 20px 0 10px;
        @include breakpoint(small) {
            padding: 0 10px 0 200px;
        }
    }
}

.arrow-icons {
    div:active {
        transform: translateY(4px);
    }
    img {
        height: 40px;
        cursor: pointer;
    }
}
.testimonial-block {
    overflow: auto;
    padding-bottom: 1rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scrollbar-color: $primary-color $bg-color-5;
    @include breakpoint(small) {
        scrollbar-width: thin;
    }
    > div {
        // gap: 0.5rem;
        transition: 0.5s transform ease-in-out;
        @include breakpoint(x-small) {
            gap: 1rem;
        }
        @include breakpoint(small) {
            gap: 1.4rem;
        }
        > div:not(:first-child) {
            margin-left: 0.5rem;
            @include breakpoint(small) {
                margin-left: 0;
            }
        }
    }
    &::-webkit-scrollbar {
        display: none;
        @include breakpoint(small) {
            display: block;
            height: 10px; /* height of horizontal scrollbar */
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
    }
}
