@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.bg-learn {
    background-color: $bg-color-2;
    background-image: url('../../../../assets/images/learnBackgournd.svg');
    background-repeat: no-repeat;
    background-position-y: 350%;
    padding-top: 1rem;
    @include breakpoint(small) {
        margin-top: 0;
        background-position-y: 350%;
    }
    img {
        height: 350px;
        @include breakpoint(small) {
            height: 650px; 
        }
    }
    > div {
        flex-direction: column;
        @include breakpoint(small) {
            flex-direction: row;
        }
    }
    h1 {
        font-size: 2rem !important;
        color: $bg-color;
        @include breakpoint(small) {
            font-size: 3rem !important;
        }
        @include breakpoint(large) {
            font-size: 4.2rem !important;
        }
    }
    p {
        font-size: 1rem;
        @include breakpoint(x-small) {
            font-size: 1.25rem;
        }
    }
}

