@import '../../../../assets/styles/variables';

.bg-learn {
    background-color: $bg-color-2;
    background-image: url('../../../../assets/images/learnBackgournd.svg');
    background-repeat: no-repeat;
    background-position-y: 300%;
    margin-top: 1rem;
    @media screen and (min-width: 767px) {
        margin-top: 0;
        background-position-y: 250%;
    }
    img {
        height: 350px;
        @media screen and (min-width: 767px) {
            height: 700px;
        }
    }
    > div {
        flex-direction: column;
        @media screen and (min-width: 767px) {
            flex-direction: row;
        }
    }
}

h1 {
    font-size: 2rem !important;
    color: $bg-color;
    @media screen and (min-width: 767px) {
        font-size: 5rem !important;
    }
}
