@import '../../../../assets/styles/variables';

.bg-learn {
    background-color: $bg-color-2;
    background-image: url('../../../../assets/images/learnBackgournd.svg');
    background-repeat: no-repeat;
    background-position-y: 510%;
    img {
        height: 700px;
    }
}

h1 {
    font-size: 5rem !important;
    color: $bg-color;
}
