@import '../../../../../../assets/styles/variables';

.videotestimonial-div {
    width: 300px;
    background-color: $white;
    @media screen and (min-width: 769px) {
        min-width: 350px;
    }
    > div {
        width: 300px !important;
        @media screen and (min-width: 769px) {
            width: 350px !important;
        }
    }
    span {
        font-family: '$font-semi-bold';
    }
    .controls-div {
        padding: 10px;
    }
}