@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/mixins";

.wrapper-why {
  background-color: $bg-color;
  padding: 38px 20px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  > :nth-child(1) {
    width: 100%;

    > button {
      margin-top: 2rem;
    }
  }

  @include breakpoint(small) {
    padding: 95px 90px;
    flex-direction: row;
  }
}

img.whyChoose {
  height: 300px;
  @include breakpoint(small) {
    height: 440px;
  }
}

h1.heading {
  font-size: 1.8rem !important;
  color: $white;
  margin-bottom: 46px;
  @include breakpoint(x-small) {
    font-size: 2rem !important;
  }
  @include breakpoint(small) {
    font-size: 3rem !important;
  }
  @include breakpoint(large) {
    font-size: 3rem !important;
  }
  @include breakpoint(x-large) {
    font-size: 4rem !important;
  }
}

.card {
  background-color: transparent;
  color: white;
  border: 0;

  > hr {
    // margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid white;
  }
}

.card-header {
  padding: 0.75rem 0 0;
}

.card-body {
  padding: 0;
  font-size: 1rem;
}

.card-button {
  display: flex;
  justify-content: space-between !important;
  align-items: center;

  > button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
  }
}
