@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';
.episode-intro-div {
    position: relative;
    background: linear-gradient(180deg, $bg-color-4 93%, $white 0);
    overflow-x: hidden;
    @include breakpoint(small) {
        background: linear-gradient(180deg, $bg-color-4 84%, $white 0);
    }
    div:first-child {
        padding-top: 4rem;
        padding-bottom: 2rem;
        @include breakpoint(small) {
            padding: 6rem 120px 6rem;
            padding-bottom: 4rem;
        }
    }
    h3 {
        color: $primary-color;
        font-family: '$font-museo';
    }
    h2 {
        color: $bg-color;
        font-family: '$font-extra-bold';
        font-size: 2rem !important;
        @include breakpoint(small) {
            font-size: 3rem !important;
        }
    }
    > p {
        color: $bg-color;
        font-family: '$font-museo';
        padding-right: 0;
        @include breakpoint(small) {
            padding-right: 60%;
        }
    }
    .podcast-platforms {
        p {
            font-family: '$font-bold';
            color: $bg-color-6;
            font-size: 2rem;
        }
        img {
            z-index: 1;
            height: 80px;
            @include breakpoint(small) {
                height: auto;
            }
        }   
    }
    > img {
        position: absolute;
        height: 30px;
        top: calc(91% - 30px);
        @include breakpoint(small) {
            height: auto;
            top: calc(82% - 48px);
        }
    }
}