@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/mixins";

.wrapper-join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  gap: 2rem;
  text-align: center;
  background-image: url('../../../../assets/images/join-bgImage.png');
  background-repeat: no-repeat;
}

.heading-join {
    font-size: 36px;;
    font-weight: 700;

    >span {
        color:$primary-color

    }
}

.store-icons-join {
  display: flex;
  flex-direction: row !important;
  // justify-content: space-between;
  // gap: 0rem;
  @include breakpoint(x-small) {
    justify-content: flex-start;
    gap: 2rem;
  }
  @include breakpoint(small) {
    justify-content: flex-start;
    gap: 2.25rem;
    flex-direction: column;
  }
  img {
    height: 45px;
    @include breakpoint(x-small) {
      height: 55px;
    }
    @include breakpoint(small) {
      height: 70px;
    }
    @include breakpoint(large) {
      height: 90px;
    }
    &:first-child {
      margin-right: 1.5rem;
      @include breakpoint(small) {
        margin-right: 0;
      }
    }
  }
}
