@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.wrapperStream {
  position: relative;
  flex-direction: column-reverse;
  // gap: 2rem;
  @include breakpoint(small) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
  }
  @include breakpoint(large) {
    padding-left: 100px;
  }
  @include breakpoint(x-large) {
    padding-right: 120px;
  }
  p {
    font-family: "$font-museo";
    font-size: 1rem;
    color: $text-color-4;
    @include breakpoint(x-small) {
      font-size: 1.25rem;
    }
  }
  > div {
    padding: 0 20px;
    margin-top: 2rem;

    > div {
      display: flex;
      align-items: center;
      gap: 1rem;

      > img {
        margin-bottom: 1rem;
      }
    }

    > button {
        margin-top: 3rem;
    }

    @include breakpoint(small) {
      margin-left: 0;
    }
    @include breakpoint(x-large) {
      padding: 0 20px;
    }
  }
  .image-container {
    text-align: center;
  }
  img.bgImage {
    height: 275px;
    @include breakpoint(x-small) {
      height: 300px;
    }
    @include breakpoint(small) {
      height: 480px;
    }
    @include breakpoint(large) {
      height: 500px;
    }
    @include breakpoint(x-large) {
      height: 600px;
    }
  }
}

h1.head {
  font-size: 1.8rem !important;
  color: $bg-color;
  @include breakpoint(x-small) {
    font-size: 2rem !important;
  }
  @include breakpoint(small) {
    font-size: 3rem !important;
  }
  @include breakpoint(large) {
    font-size: 3.5rem !important;
  }
  @include breakpoint(x-large) {
    font-size: 4rem !important;
  }
}

h1.shadowTextIndependent {
  font-size: 2rem !important;
  color: $text-shadow-2;
  position: absolute;
  top: 310px;
  left: 25px;
  opacity: 0.04;
  @include breakpoint(x-small) {
    top: 330px;
    left: 25px;
    font-size: 2.2rem !important;
  }
  @include breakpoint(small) {
    font-size: 3.3rem !important;
    top: 95px;
    left: 20px;
  }
  @include breakpoint(large) {
    font-size: 4rem !important;
    top: 10px;
    left: 70px;
  }
  @include breakpoint(x-large) {
    font-size: 5rem !important;
    top: 40px;
    left: 70px;
  }
}

.bg-stream {
  background-color: $bg-color-2;
  overflow-x: hidden;
}

.top-border {
  height: 40px;
  margin-left: -506px;
  @include breakpoint(small) {
    height: 65px;
    margin-left: -320px;
  }
}

.bottom-border {
  height: 40px;
  margin-left: 120px;
  @include breakpoint(small) {
    height: 65px;
    margin-left: 590px;
  }
}
