.store-div {
    background-image: url('../../../../assets/images/homeStoreBG.svg');
    background-size: contain;
    // h1.head {
    //     font-size: 4rem;
    // }
    .store-img {
        height: 60px;
    }
}