.store-div {
  background-image: url("../../../../assets/images/learn_anywhere.png");
  background-size: contain;
  background-repeat: no-repeat;
  > div {
    flex-direction: column;
    gap: 2rem;
    @media screen and (min-width: 769px) {
      flex-direction: row;
    }
    > div.text-div {
      text-align: center;
      @media screen and (min-width: 769px) {
        text-align: left;
      }
      div {
          justify-content: center;
          @media screen and (min-width: 769px) {
            justify-content: flex-start;          
        }
      }
    }
    div > img {
      height: 350px;
      @media screen and (min-width: 769px) {
        height: 600px;
      }
    }
  }
  .store-img {
    height: 50px;
    @media screen and (min-width: 769px) {
      height: 60px;
    }
  }
  p {
    font-family: "$font-museo-700";
  }
}
