.store-div {
    background-image: url('../../../../assets/images/learn_anywhere.png');
    background-size: contain;
    // h1.head {
    //     font-size: 4rem;
    // }
    .store-img {
        height: 60px;
    }
    p {
        font-family: '$font-museo-700';
    }
}