@import "../../../assets/styles/variables";
@import "../../../assets/styles/fonts";
@import "../../../assets/styles/mixins";

.shop-card {
    background: $bg-color-3;
    flex: 1;
    transition: transform 0.5s ease-in-out;
    &:hover {
        @include breakpoint(small) {
            transform: scale(1.05);
        }
    }
    &:hover > .coming-soon {
        @include breakpoint(small) {
            display: grid;
        }
    }
}

.card-image {
    padding: 1.25rem;
}

.card-title {
    color: $white;
}

.card-text {
    color: $white;
}

.coming-soon {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(13, 10, 58, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: default;
    @include breakpoint(large) {
        display: none;
    }
    h3 {
        color: $white;
        font-family: "$font-bold";
    }
}
