@import '../../../assets/styles/variables';
@import '../../../assets/styles/fonts';

.card {
    background: $bg-color-3;
    flex: 1;
}

.card-image {
    padding: 1.25rem;
}

.card-title {
    color: $white;
}

.card-text {
    color: $white;
}

.coming-soon{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(13, 10, 58, 0.89);
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    cursor: default;
    h3 {
        color: $white;
        font-family: '$font-bold';
    }
} 