@import '../../../assets/styles/variables';

.card {
    background: $bg-color-3;
    flex: 1;
}

.card-image {
    padding: 1.25rem;
}

.card-title {
    color: $white;
}

.card-text {
    color: $white;
}

.coming-soon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    h3 {
        color: $white;
    }
} 