@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';


.ex-wrapperObodo {
    flex-direction: column;
    @include breakpoint(small) {
        flex-direction: row;
        align-items: center;
    }
    img {
        height: auto;
        width: 100%;
        @include breakpoint(small) {
            height: 500px;
        }
    }
    > div:nth-child(2) {
        padding: 1.25rem;
        .carousel.slide {
            width: 100%;
            @include breakpoint(small) {
                width: 420px;
            }
            .carousel-indicators li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $bg-color;
            }
            .carousel-control-prev, .carousel-control-next {
                display: none;
            }
        }
    }
}
.why-ep h2 {
    color: $text-color-2;
    font-family: '$font-bold';
}

.why-ep p {
    color: $bg-color;
    font-family: '$font-museo-700';
}
.why-ep > img {
    height: 17px;
    @include breakpoint(small) {
        height: 45px;
    }
    @include breakpoint(large) {
        height: 55px;
    }
}

.accordion-div-ep {
    width: 100%;
    margin-top: 1rem;
    @include breakpoint(small) {
        width: 50%;
        margin-top: 3rem;
    }
    .accordion .card {
        border: none;
        background: $bg-color-4;
        margin-bottom: 1rem;
        .card-header {
            background: transparent;
            border: none;
            h5 {
                color: $bg-color;
                font-family: '$font-semi-bold';
                margin-bottom: 0;
                padding: 1rem 0;
            }
        }
        .card-body {
            color: $bg-color;
            font-family: '$font-museo-regular';
            padding: 0 1.25rem 1.25rem;
        }
        hr {
            display: none;
        }
    }
}

