header {
    background-color: #0D0A3A;
    height: 110px;
    display: grid !important;
    .header-container {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
}