@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/mixins";

.au-company-div {
    background-color: $bg-color-4;
    padding: 3rem 0;
    h2 {
        color: $bg-color;
        font-family: "$font-bold";
    }
    p {
        color: $bg-color;
        font-family: "$font-museo-700";
        font-size: 1rem;
        @include breakpoint(x-small) {
            font-size: 1.25rem;
        }
    }
    .grid-items-container {
        display: flex;
        flex-direction: column;
        @include breakpoint(small) {
            padding: 4rem 0 2rem;
            flex-direction: row;
            justify-content: space-between;
            gap: 15rem;
        }
        .value-item {
            margin-top: 2rem;
            text-align: center;
            @include breakpoint(small) {
                margin-top: 0;
                width: 25%;
            }
            h4 {
                color: $bg-color;
                font-family: "$font-bold";
                margin-top: 1rem;
                font-size: 1.4rem !important;
                @include breakpoint(small) {
                    margin-top: 1.5rem;
                }
            }
            p {
                color: $text-color-4;
                font-family: "$font-museo-regular";
                font-size: 0.9rem !important;
            }
        }
    }
}
