@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

div#signup {
    @include breakpoint(large) {
        align-items: center;
    }

    div#usertype {
        div.usertype-select {
            cursor: pointer;
            position: relative;
            border: 1px solid $primary-color;
            border-radius: 0.25rem;
            padding: 10px 40px 10px 10px;
            font-size: 16px;

            &::after {
                content: ">";
                position: absolute;
                bottom: 20px;
                right: 10px;
                font-size: 12px;
                color: $primary-color;
            }

            span {
                &:first-child {
                    font-weight: bold;
                }

                color: $tertiary-color;
                font-size: 13px;
            }
        }
    }

    form {
        @include breakpoint(large) {
            min-width: 300px;
        }

        label {
            font-weight: bold;
            font-size: 13px;
            color: $tertiary-color;
        }
    }

    p {
        a {
            color: $primary-color;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}