@import '../../../../assets//styles/fonts';
@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.au-our-team {
    background-color: $bg-color;
    padding: 3rem 0;
    .wrapper {
        h2 {
            color: $white;
            font-family: '$font-bold';
        }
        .team-grid {
            display: flex;
            gap: 2rem;
            margin-top: 2rem;
            flex-direction: column;
            @include breakpoint(small) {
                flex-direction: row;
            }
            div {
                img {
                    width: 100%;
                }
                p {
                    color: $white;
                    text-align: center;
                    margin-top: 2rem;
                    font-family: '$font-museo-700';
                }
            }
        }
    }
}