@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.au-mission-div {
    background-color: $bg-color-4;
    div:first-child {
        padding-top: 4rem;
        padding-bottom: 4rem;
        @include breakpoint(small) {
            padding: 6rem 120px 6rem;
        }
    }
    div:last-child {
        max-height: 45px;
        overflow: hidden;
    }
    h3 {
        color: $primary-color;
        font-family: "$font-museo";
    }
    h2 {
        color: $bg-color;
        font-family: "$font-extra-bold";
        font-size: 2rem !important;
        @include breakpoint(small) {
            font-size: 3rem !important;
        }
    }
    p {
        color: $bg-color;
        font-family: "$font-museo";
        font-size: 1rem;
        @include breakpoint(x-small) {
            font-size: 1.25rem;
        }
    }
}
