@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';

.div-container {
    background-color: $bg-color;
    > div {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 2rem;
        @include breakpoint(small) {
            flex-direction: row;
        }
        @include breakpoint(large) {
            padding-bottom: 0;
        }
    }
    img.bgImage {
        height: 400px;
        @include breakpoint(small) {
            height: 600px;
        }
    }
}
.wrapperExchange {
    position: relative;
    padding-bottom: 2rem;
}
h1.heading {
    font-size: 2rem !important;
    color: $white;
    @include breakpoint(small) {
        font-size: 3rem !important;
    }
    @include breakpoint(large) {
        font-size: 4rem !important;
    }
}
h1.shadow {
    font-size: 2.2rem !important;
    color: $text-shadow-1;
    position: absolute;
    top: -27px;
    left: 6px;
    @include breakpoint(small) {
        font-size: 3.3rem !important;
        top: -55px;
        left: 20px;
    }
    @include breakpoint(large) {
        font-size: 5rem !important;
        top: -80px;
        left: 40px;
    }
}

p.text {
    color: $white;
    font-family: '$font-museo-regular';
}