@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/fonts';

.ep-plan-div {
    background-color: $bg-color-2;
    padding: 3rem 0 6rem 0;
    > div > h2 {
        color: $bg-color;
        font-family: '$font-bold';
    }
    p {
        color: $bg-color;
        font-family: '$font-museo-700';
    }
    .type-selector {
        padding: 3rem 0;
        .type-item {
            background-color: $bg-color-7;
            color: $text-color-3;
            font-family: '$font-medium';
            padding: 10px 30px;
            &:first-child {
                border-radius: 10px 0 0 10px;
            }
            &:last-child {
                border-radius: 0 10px 10px 0;
            }
            &.active-type {
                background-color: $primary-color;
                color: $white;
                border-radius: 10px;
            }
        }
    }
}

.plan-card-div {
    gap: 3rem;
    .plan-card {
        background-color: $bg-color;
        padding: 1rem 0.5rem 3rem 0.5rem;
        width: 300px;
        border-radius: 10px;
        div:nth-child(2) {
            gap: 1rem;
        }
        h2 {
            color: $primary-color;
        }
        p {
            color: $primary-color;
            margin-bottom: 0;
        }
    }
}