@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/mixins";

.ep-plan-div {
  background-color: $bg-color-2;
  padding: 0rem 0 3rem 0;
  .info-strip {
    padding: 2rem 0.2rem;
    background-color: #f8b736;
    margin-bottom: 2rem;
    p {
      font-size: 0.9rem;
      margin-bottom: 0;
      font-family: "$font-museo";
      @include breakpoint(small) {
        font-size: 1.25rem;
      }
      &:first-child {
        margin-bottom: 11px;
        @include breakpoint(small) {
          margin-bottom: 0;
        }
      }
    }
  }
  > div {
    > h2 {
      color: $bg-color;
      font-family: "$font-bold";
    }
    > p {
      color: $bg-color;
      font-family: "$font-museo-700";
      font-size: 1rem;
      @include breakpoint(x-small) {
        font-size: 1.25rem;
      }
    }
  }
  .type-selector {
    padding: 3rem 0;
    .type-background {
      background-color: $bg-color-7;
      border-radius: 10px;
    }
    .type-item {
      background-color: $bg-color-7;
      color: $text-color-3;
      font-family: "$font-medium";
      padding: 10px;
      cursor: pointer;
      font-size: 12px;
      display: flex;
      align-items: center;
      @include breakpoint(small) {
        padding: 10px 50px;
        font-size: 1rem;
      }
      &:first-child {
        border-radius: 10px 0 0 10px;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
      }
      &:hover {
        background-color: $primary-color;
        border-radius: 10px;
        transition: background-color 0.5s ease-in-out;
        color: $white;
      }
      &.active-type {
        background-color: $primary-color;
        color: $white;
        border-radius: 10px;
      }
    }
  }
}

.plan-card-div {
  // gap: 2rem;
  flex-direction: column;
  margin-bottom: 3rem;
  @include breakpoint(small) {
    flex-direction: row;
    gap: 6rem;
  }
  .plan-card {
    background-color: $bg-color-4;
    border: 1px solid $quinary-color;
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 100%;
    border-radius: 10px;
    position: relative;
    transition: transform 0.5s ease-in-out;
    margin-bottom: 50px;
    @include breakpoint(small) {
      width: 350px;
      margin-bottom: 0px;
    }
    > span#current-plan {
      background-color: $quinary-color;
      padding: 5px 10px;
      border-radius: 0.25rem 0.25rem 0 0;
      position: absolute;
      top: -19px;
      right: -1px;
      color: $tertiary-color;
      font-weight: bold;
    }
    > div {
      margin-bottom: 2rem;

      > div {
        gap: 1rem;
      }
    }
    .badge-wrapper {
      .badge {
        display: inline-block;
        background-color: $quinary-color;
        color: $tertiary-color;
        padding: 7px 7px;
      }
    }
    .pricing {
      span.price {
        font-family: "$font-bold";
        font-size: 35px;
      }
      span.cycle {
        font-family: "$font-medium";
        font-size: 14px;
      }
    }
    ul {
      padding: 0 1rem;
      margin-bottom: 2rem;
      font-family: "$font-museo-regular";
      list-style-type: none;

      li {
        text-align: left;
        position: relative;
        margin-bottom: 1rem;

        &::before {
          content: '\02713';
          position: absolute;
          margin-left: -20px;
        }

        b.special {
          color: $secondary-color;
        }
      }
    }
  }
}
.modal-box {
  img {
    height: 40px;
    @include breakpoint(small) {
      height: 60px;
    }
  }
}
