@import '../../../../assets/styles/mixins';

.teaching-div {
    height: 500px;
    background-image: url('../../../../assets/images/homeTeachingBG.svg');
    background-repeat: no-repeat;
    background-size: 350%;
    @include breakpoint(small) {
        background-size: 140%;
    }
    @include breakpoint(large) {
        background-size: cover;
    }
    .head {
        font-size: 2rem !important;
        @include breakpoint(small) {
            font-size: 3rem !important;
        }
    }
}