.teaching-div {
    height: 500px;
    background-image: url('../../../../assets/images/homeTeachingBG.svg');
    background-repeat: no-repeat;
    background-size: 350%;
    @media screen and (min-width: 767px) {
        background-size: cover;
    }
    .head {
        font-size: 2rem !important;
        @media screen and (min-width: 767px) {
            font-size: 3rem !important;
        }
    }
}