@import '../../../assets/styles/variables';

.navbar {
  a {
    color: white;
    font-size: 14px;
  }
  .dropdown a {
    color: white !important;
  }
  .dropdown-item a {
    color: black !important;
  }
  // .active {
  //   color: $primary-color;
  // }
}
