@import '../../../assets/styles/variables';
@import '../../../assets/styles/fonts';

footer {
    background-color: $bg-color;
    height: 500px;
    position: relative;
    padding: 0 120px;
    justify-content: space-evenly;
    .navbar, .nav-link{
        padding: 0 !important;
    }
    .store-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        img {
            height: 90px;
        }
    }
    .social-links {
        img {
            margin: 0 1.25em;
        }
    }
}

.footer-container {
    display: flex;
    gap: 2rem;
    .footer-nav {
        padding: 10px;
        h3 {
            font-size: 18px;
            color: $primary-color;
            font-family: '$font-bold';
        }
        .nav-link {
            font-size: 16px !important;
            font-family: '$font-regular';
        }
    }
}

.copyright {
    background-color: $primary-color;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 14px;
        font-family: '$font-light';
        color: #fff;
    }
}