@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/mixins";

.wrapper-lessonJoin {
  background-color: $bg-color-2;
  padding: 78px 115px;
  display: flex;
  gap: 2.125rem;

  > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // gap: 1rem;
  }

  > div:nth-child(2) p {
    text-align: center;
  }
}
