@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.all-episodes-div {
  padding: 2rem 0 0;
  @include breakpoint(large) {
    padding: 4rem 0 0;
  }
  h2 {
    color: $bg-color;
    font-family: "$font-bold";
  }
  .season-container {
    gap: 0.5rem;
    margin-top: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    div {
      padding: 0.5rem;
      background-color: $white;
      color: $bg-color;
      font-family: "$font-medium";
      border-radius: 10px;
      cursor: pointer;
      font-size: 11px;
      min-width: max-content;
      @include breakpoint(small) {
        padding: 1rem 2rem;
        font-size: 16px;
      }
      @include breakpoint(large) {
        padding: 1rem 2rem;
        font-size: 16px;
      }
      &.active,
      &:hover {
        background-color: $bg-color;
        color: $white;
      }
    }
    &::-webkit-scrollbar {
      display: none;
      @include breakpoint(small) {
        display: block;
        height: 10px; /* height of horizontal scrollbar */
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
    }
  }
  .audio-cards-container {
    margin: 2rem 0;
    padding: 0rem;
    flex-direction: column;
    @include breakpoint(small) {
      flex-direction: row;
      padding: 0 4rem;
      margin: 3rem 0;
    }
    @include breakpoint(large) {
      flex-direction: row;
      padding: 0 4rem;
      margin: 5rem 0;
    }
    .audio-card {
      background-color: $bg-color-9;
      padding: 0.5rem 0.5rem 2rem;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      // margin-bottom: 2rem;
      flex-wrap: wrap;
      position: relative;
      @include breakpoint(small) {
        padding: 1rem;
        flex-direction: row;
      }
      > .image-container {
        width: 100%;
        position: relative;
        img:first-child {
          width: 100%;
        }
        img:last-child {
          position: absolute;
          height: 60px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
        @include breakpoint(small) {
          width: 30%;
        }
      }
      .episode-content {
        width: 100%;
        @include breakpoint(small) {
          width: calc(70% - 2rem);
        }
        > p:first-child {
          font-family: "$font-semi-bold";
          color: $bg-color-6;
          font-size: 14px;
          @include breakpoint(small) {
            margin-bottom: 0.5rem;
            font-size: 1rem;
          }
          span:last-child {
            font-family: "$font-regular";
            color: $primary-color;
            background-color: rgba($color: $primary-color, $alpha: 0.1);
            padding: 0.25rem 1rem;
          }
        }
        h3 {
          font-family: "$font-extra-bold";
          color: $bg-color;
        }
        p,
        div {
          color: $text-color-4;
          font-family: "$font-museo-regular";
          word-break: break-word;
        }
        .episode-description {
          overflow: hidden;
        }
        .see-more {
          text-decoration: underline;
          color: blue;
          cursor: pointer;
        }
        .rhap_container {
          background-color: transparent;
          box-shadow: none;
          margin-top: 2rem;
          padding: 10px 0;
          @include breakpoint(small) {
            margin-top: 1rem;
          }
          @include breakpoint(large) {
            margin-top: 2rem;
          }
        }
        .rhap_progress-bar-show-download {
          background-color: $progress-bar-color;
        }
        .rhap_progress-filled {
          background-color: $primary-color;
        }
        .rhap_controls-section {
          display: none;
        }
        .rhap_progress-indicator {
          width: 15px;
          height: 15px;
          top: -5px;
          margin-left: -5px;
        }
        .rhap_progress-container {
          margin: 0;
        }
        .rhap_time {
          font-family: "$font-regular";
          color: $black;
          position: absolute;
          top: 25px;
        }
        .rhap_progress-section {
          display: block;
          position: relative;
        }
        .rhap_total-time {
          right: 0;
        }
      }
      ul,
      ol {
        margin-left: 1rem;
      }
    }
    .button-div {
      gap: 0.5rem;
      display: flex;
      align-items: center;
      margin-top: 2rem;
      justify-content: flex-start;
      @include breakpoint(small) {
        gap: 2rem;
        margin-top: 1rem;
        justify-content: flex-start;
      }
      @include breakpoint(large) {
        gap: 2rem;
        margin-top: 2rem;
      }
      button {
        font-family: "$font-regular" !important;
        min-width: 125px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0.5rem;
        @include breakpoint(small) {
          min-width: 200px;
        }
      }
      button:first-child {
        @include btn($primary-color, $white, $hover-color);
        padding: 15px 10px !important;
        @include breakpoint(small) {
          padding: 13px 30px !important;
        }
        img {
          height: 20px;
          @include breakpoint(small) {
            height: 28px;
          }
        }
      }
      button:nth-child(2) {
        padding: 5px 10px !important;
      }
    }
  }
  .transcript-text {
    transition: all 0.5s ease-in-out;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    background-color: $bg-color-9;
    padding: 1rem;
    h4 {
      color: $bg-color;
      font-family: "$font-semi-bold";
      justify-content: space-between;
      gap: 0.5rem;
      @include breakpoint(small) {
        gap: 1rem;
      }
      hr {
        width: 100%;
        background-color: $bg-color-6;
      }
    }
    p {
      color: $text-color-4;
      font-family: "$font-museo-regular";
    }
    &.show-transcript {
      transform: scaleY(1);
      max-height: 3000px;
    }
  }
}
