@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/fonts';

.bg-green h2 {
    color: $white;
}

.bg-green p {
    color: $white;
    font-family: '$font-museo-700';
}

.accordion-div {
    width: 50%;
}

.accordion .card {
    background: transparent;
    border: none;
    .card-header {
        background: transparent;
        border: none;
        h5 {
            color: $white;
            font-family: '$font-bold';
        }
    }
    .card-body {
        color: $white;
        font-family: '$font-museo-regular';
    }
    hr {
        background-color: $white;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}
