@mixin btn($btn-bg, $btn-text) {
    padding:  15px 30px;
    color: $btn-text;
    background-color: $btn-bg;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    box-shadow:  0px 8px 3px 2px rgba(0, 0, 0, 0.1);
    &:active,
    &:hover {
        color: $btn-text!important;
        background-color: $btn-bg !important;
        border-color: $btn-bg !important;
    }
    &:active {
        transform: translateY(4px);
    }
    &:focus {
        background: $btn-bg;
        box-shadow: 0px 8px 3px 2px rgba(0, 0, 0, 0.1) !important;
        outline: none!important;
    }
}

@mixin btn-attach($btn-bg, $btn-text) {
    padding:  12px 25px;
    color: $btn-text;
    background-color: $btn-bg;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 12px;
    &:active,
    &:hover {
        color: $btn-text!important;
        background-color: $btn-bg !important;
        border-color: $btn-bg !important;
    }
    &:focus {
        background: $btn-bg;
        box-shadow: none!important;
        outline: none!important;
    }
}

@mixin btn-outline($btn-bg, $btn-text) {
    padding:  15px 30px;
    color: $btn-text;
    background-color: $btn-bg;
    border-color: $btn-text;
    border-radius: 10px;  
    font-size: 14px;
    &:active,
    &:hover {
        color: $btn-text!important;
        background-color: $btn-bg !important;
        border-color: $btn-text !important;
    }
    &:active {
        transform: translateY(4px);
    }
    &:focus {
        background: $btn-bg;
        box-shadow: none!important;
        outline: none!important;
        color: $btn-text !important;
        border-color: $btn-text !important;
    }
}

@mixin btn-icon($btn-bg, $btn-text) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: $btn-text;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;  
    font-size: 14px;
    &:active,
    &:hover {
        color: $btn-text!important;
        background-color: rgba(255, 255, 255, 0.3) !important;
        border-color: $btn-bg !important;
    }
    &:focus {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: none!important;
        outline: none!important;
        color: $btn-text !important;
        border-color: $btn-bg !important;
    }
}