$primary-color: #06D6A0;
$bg-color: #0D0A3A;
$bg-color-2: #F6F6FF;
$bg-color-3: linear-gradient(135deg, #5D5B7B, #0D0A3A);
$bg-color-4: #F2F1F9;
$bg-color-5: rgba(255, 255, 255, 0.3);
$bg-color-6: rgba(13, 10, 58, 0.5);
$text-shadow-1: #191644;
$text-shadow-2: #0D0A3A;
$white: #fff;
$text-color: #080626;
$text-color-2: #1B1B1B;
$hover-color: #13D606;