@import "../../../../../../assets/styles/variables";
@import '../../../../../../assets/styles/fonts';
@import '../../../../../../assets/styles/mixins';

.testimonial-div {
  min-width: 280px;
  background-color: $white;
  padding: 10px;
  height: 100%;
  @include breakpoint(x-small) {
    width: 320px;
  }
  @include breakpoint(small) {
    min-width: 350px;
  }
  div img {
    height: 60px;
    // @include breakpoint(small) {
    //   height: auto;
    // }
  }
  p {
    font-family: '$font-museo-regular';
    font-size: 0.7rem;
    white-space: pre-wrap;
    @include breakpoint(x-small) {
      font-size: 0.9rem;
    }
    @include breakpoint(small) {
      font-size: 1rem;
    }
  }
  span {
    font-family: '$font-semi-bold';
  }
  .user-div {
    gap: 1rem;
    img {
      height: 60px;
    }
  }
}
