@import "../../../../../../assets/styles/variables";
@import '../../../../../../assets/styles/fonts';

.testimonial-div {
  min-width: 350px;
  background-color: $white;
  padding: 10px;
  height: 100%;
  p {
    font-family: '$font-museo-regular';
  }
  span {
    font-family: '$font-semi-bold';
  }
  .user-div {
    gap: 1rem;
    img {
      height: 60px;
    }
  }
}
